# ==============================================================================
# Variables de Entorno para Notify API Platform (Dev & Cloud)
# ==============================================================================

# Entorno de ASP.NET Core
ASPNETCORE_ENVIRONMENT=Development
PORT=8080

# Seguridad JWT
JWT_SECRET=NotifyApi_SuperSecretKey_For_MasterDegree_Posgrado_2026_JWT!
JWT_ISSUER=NotifyApiPlatform
JWT_AUDIENCE=NotifyApiClients

# Base de Datos MongoDB Atlas (Reemplazar con tus credenciales de MongoDB Atlas M0)
# Formato: mongodb+srv://<db_user>:<db_password>@<cluster-url>/<db_name>?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://notify_admin:TuPasswordSeguro123@cluster0.abcde.mongodb.net/notifydb?retryWrites=true&w=majority
MONGODB_DATABASE=notifydb

# Redis Cache (Opcional si se corre contenedor o Elasticache)
REDIS_HOST=localhost
REDIS_PORT=6379

# RabbitMQ Message Broker (Opcional si se corre contenedor o Amazon MQ)
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
